$off-black: #555459;
$light-black: lighten($off-black, 40%);
$link: #428bca;
$link-hover: #2a6496;
$success-color: #5cb85c;
$success-border-color: #4cae4c;
$error-color: #d9534f;
$error-border-color: #d43f3a;

html {
  overflow: auto;
}

body {
  width: 300px;
  min-height: 400px;
  height: auto;
  overflow: hidden;
  padding: 0px 10px 10px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $off-black;
}

h2 {
  font-weight: 300;
}

h4 {
  font-weight: 700;
}

#api-token-view,
#main-view,
#history-view {
  display: none;
  #me-promo {
    margin: 10px 0px 0px 0px;
    float: right;
    font-weight: 300;
  }
}

#api-token-view {
  width: 100%;
  button#OAuth {
    width: 100%;
    margin: 15px 0 20px 0;
    background-color: #2AB27B;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
  }
}

#history-view {
  #title {
    margin: 10px 0px 20px 0px;
  }
  span#history-back {
    position: absolute;
    top: 14px;
    right: 10px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: $link;
    border-radius: 5px;
    padding: 0px 2px;
    &:hover {
      color: #FFF;
      border-color: $link;
      background-color: $link;;
    }
  }
  #history-list {
    a {
      color: $link;
      margin: 15px 0px;
      &:hover {
        text-decoration: none;
        color: $link-hover;
      }
      .list-group-item-heading {
        color: $off-black;
        font-weight: 400;
        font-size: 15px;
        &:hover {
          text-decoration: none;
          color: $link-hover;
        }
      }
      p {
        font-weight: 300;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .history-moment {
        color: $light-black;
        font-size: 14px;
        font-weight: 300;
        float: right;
        position: relative;
        bottom: 1px;
      }
    }
  }
}

.corner-button {
  color: $off-black;
  font-size: 16px;
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  width: 16px;
  padding: 0px;
  cursor: pointer;
  span {
    margin-top: 3px;
  }
  &.search-button {
    right: 70px;
  }
  &.message-button {
    right: 98px;
  }
  &.history-button {
    right: 42px;
  }
}

#main-view {
  #title {
    margin: 10px 0px;
  }
  #instructions {
    display: none;
  }
  span#logout {
    margin: 10px 0px 0px 0px;
    float: left;
    position: relative;
    left: 2px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: $link;
    border-radius: 5px;
    padding: 0px 2px;
    &:hover {
      color: #FFF;
      border-color: $link;
      background-color: $link;;
    }
  }
  #search-form,
  #message-form {
    border: 1px solid $light-black;
    border-radius: 50px;
    // margin-top: 15px;
    >* {
      background-color: transparent;
      border: none;
      box-shadow: none;
      height: auto;
    }
    input {
      padding: 4px 8px 4px 4px;
    }
    span.search,
    span.message {
      padding: 4px 4px 4px 8px;
    }
    span.clear {
      display: none;
      -webkit-user-select: none;
      cursor: pointer;
    }    
    i {
      color: $light-black;
    }
    + hr {
      margin-top: 10px;
    }    
  }
  #search {
    display: none;
    #search-results {
      i {
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        margin-top: 7px;
        -webkit-user-select: none;
      }
    }
  }
  #rooms,
  #search {
    .room,
    #search-results {
      & {
        clear: both;
        overflow: hidden;
        border-bottom: 1px solid #EEE;
        padding: 10px 0;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
          font-size: 15px;
          span#noMatches {
            color: $light-black;
            font-style: italic;
          }     
          span.label {
            float: right;
            display: none;
          }
          .share-link {
            text-align: center;
            float: left;
            cursor: pointer;
            color: $link;
            border: 1px solid $link;
            border-radius: 5px;
            padding: 2px;
            margin: 2px;
            &:hover {
              color: #FFF;
              border-color: $link;
              background-color: $link;;
            }
            .disabled {
              pointer-events: none;
            }
          }
        }
      }
      i.list-toggle {
        cursor: pointer;
        float: right;
        padding: 5px;
        margin-top: 7px;
        -webkit-user-select: none;
      }
    }
  }
  .icon-refresh-animate {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }

  @-webkit-keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
  }

  .share-success,
  .share-success:hover {
    -webkit-animation-name: share-success;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; 
  }

  @-webkit-keyframes share-success {
    0%   {}
    25%  { color: #FFF; border-color: $success-border-color }
    50%  { color: #FFF; }
    75%  { color: #FFF; }
    100% { color: #FFF; background-color: $success-color; border-color: $success-border-color }
  }

  .share-success-no-animate,
  .share-success-no-animate:hover {
    cursor: default;
    color: #FFF !important;
    background-color: $success-color !important;
    border-color: $success-border-color !important;
  }

  .share-error,
  .share-error:hover {
    -webkit-animation-name: share-error;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; 
  }

  @-webkit-keyframes share-error {
    0%   {}
    25%  { color: #FFF; border-color: $error-border-color }
    50%  { color: #FFF; }
    75%  { color: #FFF; }
    100% { color: #FFF; background-color: $error-color; border-color: $error-border-color }
  }

  .share-error-no-animate,
  .share-error-no-animate:hover,
  .share-undo,
  .share-undo:hover {
    cursor: default;
    color: #FFF !important;
    background-color: $error-color !important;
    border-color: $error-border-color !important;
  }

  .share-undone,
  .share-undone:hover,
  .share-undone:focus {
    background-color: #FFF !important;
    border-color: #AAA !important;
    color: #AAA !important;
    pointer-events: none;
    cursor: default;
  }
}
