html {
  overflow: auto; }

body {
  width: 300px;
  min-height: 300px;
  height: auto;
  overflow: hidden;
  padding: 0px 10px 10px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #555459; }

h2 {
  font-weight: 300; }

h4 {
  font-weight: 700; }

#api-token-view,
#main-view {
  display: none; }
  #api-token-view #me-promo,
  #main-view #me-promo {
    margin: 10px 0px 0px 0px;
    float: right;
    font-weight: 300; }

#api-token-view #invalidToken {
  display: none;
  margin-top: 20px; }

#refresh-data {
  color: #555459;
  font-size: 16px;
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  width: 16px;
  padding: 0px;
  cursor: pointer; }
  #refresh-data span {
    margin-top: 3px; }

#main-view #title {
  margin: 10px 0px; }
#main-view #instructions {
  display: none; }
#main-view #search-form {
  border: 1px solid #bbbbbe;
  border-radius: 50px; }
  #main-view #search-form > * {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: auto; }
  #main-view #search-form input {
    padding: 4px 8px 4px 4px; }
  #main-view #search-form span.search {
    padding: 4px 4px 4px 8px; }
  #main-view #search-form span.clear {
    display: none;
    -webkit-user-select: none;
    cursor: pointer; }
  #main-view #search-form i {
    color: #bbbbbe; }
  #main-view #search-form + hr {
    margin-top: 10px; }
#main-view #search-results {
  display: none; }
  #main-view #search-results i {
    cursor: pointer;
    float: right;
    padding: 5px;
    position: relative;
    top: -3px;
    -webkit-user-select: none; }
#main-view #rooms .room {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #EEE;
  padding: 10px 0; }
#main-view #rooms .room ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  #main-view #rooms .room ul li {
    font-size: 15px; }
    #main-view #rooms .room ul li span#noMatches {
      color: #bbbbbe;
      font-style: italic; }
    #main-view #rooms .room ul li span.label {
      float: right;
      display: none; }
    #main-view #rooms .room ul li .share-link {
      text-align: center;
      float: left;
      cursor: pointer;
      color: #428bca;
      border: 1px solid #428bca;
      border-radius: 5px;
      padding: 2px;
      margin: 2px; }
      #main-view #rooms .room ul li .share-link:hover {
        color: #2a6496;
        border-color: #2a6496; }
      #main-view #rooms .room ul li .share-link.disabled {
        pointer-events: none;
        cursor: default;
        color: #bbbbbe !important;
        border-color: #bbbbbe !important;
        font-weight: 400 !important; }
#main-view #rooms .room i.list-toggle {
  cursor: pointer;
  float: right;
  padding: 5px;
  margin-top: 7px;
  -webkit-user-select: none; }
#main-view .icon-refresh-animate {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }
@-webkit-keyframes rotateThis {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
#main-view .share-success,
#main-view .share-success:hover {
  pointer-events: none;
  cursor: default;
  -webkit-animation-name: share-success;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards; }
@-webkit-keyframes share-success {
  25% {
    color: #FFF;
    border-color: #4cae4c; }
  50% {
    color: #FFF; }
  75% {
    color: #FFF; }
  100% {
    color: #FFF;
    background-color: #5cb85c;
    border-color: #4cae4c; } }
#main-view .share-error,
#main-view .share-error:hover {
  -webkit-animation-name: share-error;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards; }
@-webkit-keyframes share-error {
  25% {
    color: #FFF;
    border-color: #d43f3a; }
  50% {
    color: #FFF; }
  75% {
    color: #FFF; }
  100% {
    color: #FFF;
    background-color: #d9534f;
    border-color: #d43f3a; } }

/*# sourceMappingURL=style.css.map */
