.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2px 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 0;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  color: var(--main-danger-bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: var(--main-danger-bg-color);
    color: var(--main-danger-color);
  }
}
