.container {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 24px;
  margin: 4px 0 -4px 0;
  color: var(--message-box-color);
}

.message-icon {
  padding-right: 4px;
  transition: color 0.3s ease;
  font-size: 24px;
  cursor: pointer;
}

.input {
  width: 100%;
  margin: 0;
  padding: 4px;
  border: 0;
  border-radius: 4px;
  outline: none;
  background: var(--message-box-background-color);
  color: var(--message-box-cursor-color);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-normal);
  text-shadow: 0 0 0 var(--message-box-color);
  -webkit-text-fill-color: transparent;
  resize: none;

  &::-webkit-input-placeholder {
    color: var(--message-box-placeholder-color);
    font-weight: var(--font-weight-bold);
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }

  &::selection {
    background-color: var(--message-box-selection-color);
  }

  &:focus ~ .message-icon {
    color: var(--main-highlight-color);
  }
}
